{% extends 'base.html' %} {% block titulo %}Dashnoard de {{user}} |{% endblock %}

{% block conteudo %}

<h1 class="my-3">Dashboard</h1>

<h3 class="mb-3">Olá {{user}}</h3>


<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <form action="{% url 'dashboard' %}" method="post" enctype="multipart/form-data">
    <table class="table">
      {% csrf_token %}
      {{form}}
      <tr>
        <td colspan="2">
          <button type="submit" class="btn btn-success">Cadastrar Contato</button>
        </td>
      </tr>
    </table>
  </form>
</div>

{% endblock %}