{% extends 'base.html' %}

{% block conteudo %}
<h1>Cadastro</h1>

<form class="needs-validation mb-3" action="{% url 'register' %}" method="post">
    <div class="row">
        <div class="col-md">
            {% csrf_token %}
            <div class="form-floating mb-2">
                <label for="email">E-mail:</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="E-mail" value="" required>
            </div>
            <div class="form-floating mb-2">
                <label for="Nome">Nome:</label>
                <input name="nome" type="name" class="form-control" id="Nome" placeholder="Nome" value="" required>
            </div>
            <div class="form-floating mb-2">
                <label for="Senha">Senha:</label>
                <input name="senha" type="password" class="form-control" id="Senha" placeholder="Senha" value=""
                    required>
            </div>
            <div class="form-floating mb-2">
                <label for="ConfirmeSenha">Confirme a Senha:</label>
                <input name="senhaConfirmada" type="password" class="form-control" id="ConfirmeSenha"
                    placeholder="Confirme a Senha" value="" required>
            </div>

            <div class="d-grid gap-2 mt-2 mb-3">
                <input type="submit" value="Criar Conta" class="btn btn-dark">
            </div>
        </div>
</form>

{% endblock %}